<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CRUD APP</h1>
    <form action="" method="POST">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit">
    </form>
    <h1>All Posts</h1>

    <table border="1">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Body</th>
        <th>Created At</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    {% for post in posts %}    
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.author }}</td>
            <td>{{ post.body }}</td>
            <td>{{ post.created_at }}</td>
            <td><a href="{%url 'update' post.id%}">Update</a></td>
            <td><a href="{%url 'delete' post.id%}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>